@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  height: auto;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #5a5a5a;
  -webkit-tap-highlight-color: transparent;
}

img {
  display: block;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix::before,
.clearfix::after {
  content: '';
  display: block;
  visibility: hidden;
  line-height: 0;
  height: 0;
  clear: both;
}

/*
  移动web开发,虽然浏览器的 内核 都是 webkit
  但是不同的浏览器开发厂商 ,可能会为浏览器添加一些 特殊的 独有样式
  为了清除不同浏览器带来的显示差异 我们有一个 比较通用的样式 normalize.css
*/
input {
  outline: none;
  border: none;
}

.bdt {
  border-top: 1px solid #eee;
}

.bdl {
  border-left: 1px solid #eee;
}

.bdr {
  border-right: 1px solid #eee;
}

.bdb {
  border-bottom: 1px solid #eee;
}

.bdcW {
  border-color: white;
}

.base01 {
  width: 100%;
  height: 1.33333rem;
  background-color: #ff841d;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.base01 .left {
  padding-left: 0.45333rem;
}
.base01 .left a {
  width: 4.96rem;
  height: 0.66667rem;
  display: block;
}
.base01 .left a img {
  width: 100%;
  height: 100%;
  display: block;
  margin-top: 0.32rem;
}
.base01 .right {
  padding-right: 0.18667rem;
}
.base01 .right a {
  width: 0.90667rem;
  height: 0.90667rem;
  display: block;
}
.base01 .right a img {
  width: 100%;
  height: 100%;
  display: block;
  margin-top: 0.18667rem;
}

.base02 {
  width: 100%;
  height: 1.17333rem;
  background-color: #ff841d;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 0.21333rem;
}
.base02 .left {
  width: 1.33333rem;
  height: 1.17333rem;
}
.base02 .left a {
  height: 100%;
  width: 100%;
  display: block;
  line-height: 1.17333rem;
  font-size: 0.45333rem;
  color: #fff;
  padding-left: 0.26667rem;
  text-decoration: none;
}
.base02 .center {
  height: 100%;
}
.base02 .center h1 {
  font-size: 0.53333rem;
  color: #fff;
  font-weight: bold;
  line-height: 0.4rem;
}
.base02 .right a {
  width: 1.33333rem;
  height: 1.17333rem;
  display: block;
}
.base02 .right a img {
  width: 60%;
  height: 70%;
  margin: 0.18667rem auto;
}

fooder {
  height: 0.93333rem;
  width: 100%;
  background-color: pink;
}
fooder .container-fluid {
  width: 100%;
  height: 100%;
}
fooder .container-fluid .row {
  border: 1px solid gray;
  height: 0.93333rem;
  overflow: hidden;
}
fooder .container-fluid .row div {
  border-right: 1px solid gray;
}
fooder .container-fluid a {
  line-height: 0.93333rem;
  color: #000;
}
fooder .container-fluid div:nth-of-type(1) {
  height: 0.93333rem;
  text-align: center;
}
fooder .container-fluid div:nth-of-type(2) {
  height: 0.93333rem;
  text-align: center;
}
fooder .container-fluid div:nth-of-type(3) {
  height: 0.93333rem;
  border-right: 0;
}
fooder .container-fluid div:nth-of-type(3) a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
fooder .container-fluid div:nth-of-type(3) a img {
  height: 0.4rem;
  width: 0.4rem;
  margin-top: -0.26667rem;
}
fooder .container-fluid div:nth-of-type(3) a p {
  border-bottom: 1px solid gray;
}

.base-food {
  height: 1.54667rem;
  width: 100%;
  border: 1px solid gray;
  border-top: none;
  padding-top: 0.26667rem;
  text-align: center;
}
.base-food p {
  margin: 0 auto;
}
.base-food p a:first-child {
  color: #f00;
}
.base-food p a:nth-of-type(2) {
  color: gray;
}

.base-food-back .base-food-back-top {
  position: fixed;
  bottom: 1.6rem;
  right: 0px;
  width: 1.6rem;
  height: 1.78667rem;
}
.base-food-back .base-food-back-top a:nth-of-type(1) {
  width: 100%;
  height: 100%;
  display: block;
}
.base-food-back .base-food-back-top a:nth-of-type(1) img {
  width: 100%;
  height: 100%;
}
.base-food-back .base-food-back-bot {
  width: 1.17333rem;
  height: 1.17333rem;
  position: fixed;
  bottom: 0.26667rem;
  right: 0.21333rem;
}
.base-food-back .base-food-back-bot a:nth-of-type(1) {
  font-size: 40px;
  line-height: 1.17333rem;
  color: gray;
}

#nav {
  height: 1.06667rem;
  width: 100%;
  background: -webkit-linear-gradient(top, #fdfdfd, #ededed);
  background: linear-gradient(to bottom, #fdfdfd, #ededed);
  border-bottom: 0.08rem solid #e6e6e6;
  padding-left: 0.18667rem;
}
#nav a {
  color: #000;
  line-height: 1.06667rem;
}

.shouye-search {
  width: 100%;
  height: 1.28rem;
  border-bottom: 1px solid #e6e6e6;
  padding-left: 0.24rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0.21333rem;
  margin-bottom: 0.34667rem;
  padding-right: 0.26667rem;
}
.shouye-search input {
  width: 100%;
  height: 0.8rem;
  background-color: #f1f1f1;
  outline: none;
  border-radius: 0.53333rem;
  margin-right: 0.18667rem;
  padding-left: 0.53333rem;
  color: #a9a9a9;
  border: none;
}
.shouye-search a {
  width: 1.70667rem;
  height: 0.8rem;
  display: inline-block;
  background-color: #ff841d;
  border-radius: 0.53333rem;
  font-size: 0.4rem;
  text-align: center;
}
.shouye-search a span {
  width: 100%;
  height: 100%;
  line-height: 0.8rem;
  color: white;
}

.details {
  padding: 0;
  background: gainsboro;
}
.details nav {
  width: 100%;
  height: 1.01333rem;
  border-bottom: 1px solid #ccc;
  background-color: #ebebeb;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ebebeb));
  line-height: 0.96rem;
  padding-left: 0.21333rem;
  font-size: 0.37333rem;
}
.details nav a {
  text-decoration: none;
  color: #5a5a5a;
}
.details .detailshow {
  background: white;
}
.details .detailshow .thumbnail {
  margin: 0;
  position: relative;
  border-color: transparent;
}
.details .detailshow .thumbnail .Collection {
  display: block;
  width: 1.04rem;
  height: 1.04rem;
  position: absolute;
  top: 0.32rem;
  right: 0.32rem;
}
.details .detailshow .thumbnail .caption h3 {
  font-size: 0.42667rem;
  text-align: left;
  text-align-last: left;
  word-break: break-all;
}
.details .skip {
  padding: 0;
  margin-top: 0.53333rem;
}
.details .skip .nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-top: solid 1px #c14d00;
  border-bottom: solid 1px #c14d00;
}
.details .skip .nav li {
  width: 33.3333%;
  margin: 0;
  padding: 0;
  background-color: #ffbb00;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffd050), to(#ffbb00));
}
.details .skip .nav li a {
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 0.90667rem;
  color: white;
  background-color: #ffbb00;
  border-color: transparent;
}
.details .skip .nav li:nth-child(2) {
  border-left: solid 1px #c14d00;
  border-right: solid 1px #c14d00;
}
.details .skip .nav li.active {
  background-color: #ffbb00;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffd050), to(#ffbb00));
  position: relative;
}
.details .skip .nav li.active::before {
  content: '';
  width: 0;
  height: 0;
  border: 3px solid transparent;
  border-top-color: red;
  position: absolute;
  bottom: -0.16rem;
  left: 50%;
  margin-left: -0.08rem;
  z-index: 998;
}
.details .skip .nav li.active a {
  background-color: #ffbb00;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffa632), to(#ff9000));
  border-color: transparent;
  border-radius: 0;
}
.details .skip #bj {
  background: white;
  margin-bottom: 1.6rem;
}
.details .skip #bj .gotolist a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1.68rem;
  position: relative;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.details .skip #bj .gotolist a.glyphicon-menu-right::before {
  position: absolute;
  top: 35%;
  right: 0.26667rem;
}
.details .skip #bj .gotolist a .pir {
  text-align: center;
  line-height: 0.88rem;
  padding-right: 0.26667rem;
  color: red;
  font-size: 0.48rem;
}
.details .skip #bj .history {
  padding-left: 0.26667rem;
  margin-bottom: 0.26667rem;
}
.details .skip #bj .mess {
  padding-left: 0.26667rem;
  font-size: 0.32rem;
  color: #888;
}
.details .skip #bj .comment .panel-heading {
  text-align: center;
  background: #dbdbdb;
  border-top: 4px solid #7a7a7a;
  border-radius: 0;
}
.details .skip #bj .comment .panel-body {
  padding-bottom: 0;
}
.details .skip #bj .comment .panel-body .pj_list {
  margin-bottom: 0.26667rem;
}
.details .skip #bj .comment .panel-body .pj_message {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.details .skip #bj .comment .panel-body .pj_message .name {
  font-size: 0.37333rem;
  color: #999;
}
.details .skip #bj .comment .panel-body .pj_message .message_right p {
  color: #666;
  font-size: 0.32rem;
}
.details .skip #bj .comment .panel-body .pj_message .message_right p:first-child {
  text-align: right;
  margin: 0;
}
.details .skip #bj .comment .panel-body .pj_info {
  font-size: 0.37333rem;
}
.details .skip #bj .comment .panel-body .pj_return {
  padding: 0.26667rem 0;
  border-bottom: 1px solid gray;
}
.details .skip #bj .comment .panel-body .pj_return a {
  color: #999;
  font-size: 0.32rem;
}
